@import '../../styles/_colors.scss';
@import '../../styles/_responsive.scss';

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  position: relative;
}

.about-me__text {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--font-gray-color);
  font-size: 7rem;
  font-weight: 700;
  line-height: 130%;
  white-space: nowrap;

  // 네온사인
  &.dark {
    color: #ffffff;
    animation: animation-flicking 5s infinite alternate;
  }
}

@keyframes animation-flicking {
  0%,
  19%,
  22%,
  24%,
  54%,
  57%,
  100% {
    text-shadow: 0 0 0.5rem #ffffff, 0 0 1rem var(--main-color),
      0 0 1.5rem var(--main-color), 0 0 2rem var(--main-color);
  }
  21%,
  23%,
  55% {
    text-shadow: none;
  }
}

@include tablet {
  .about-me__text {
    font-size: 5rem;
  }
}

@include mobile {
  .about-me__text {
    font-size: 4rem;
  }
}
