@import '@styles/_colors.scss';
@import '@styles/_responsive.scss';

.post-item {
  padding: 2rem 0;
  border-bottom: 1px solid #a8a8a8;
  transition: scale 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
  cursor: pointer;
}

.post-item--link {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-decoration: none;
  color: inherit;
}

.post-item:hover {
  border-bottom: 1px solid var(--main-color);
  scale: 1.02;
}

.post-item--flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.post-item__title {
  overflow: hidden;
  flex: 1;
  font-size: 1.7rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-item__date {
  color: var(--font-gray-color);
  font-size: 1.7rem;
  font-weight: 600;
  font-style: italic;
  white-space: nowrap;
}

.post-item__excerpt {
  font-size: 1rem;
}

// 태블릿
@include tablet {
  .post-item--link {
    gap: 1.5rem;
  }

  .post-item--flex {
    gap: 1rem;
  }

  .post-item__title {
    font-size: 1.5rem;
  }

  .post-item__date {
    font-size: 1.5rem;
  }

  .post-item__excerpt {
    font-size: 0.9rem;
  }
}

// 모바일
@include mobile {
  .post-item {
    padding: 1rem 0;
  }

  .post-item--link {
    gap: 0.8rem;
  }

  .post-item--flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .post-item__title {
    width: 100%;
    font-size: 1.3rem;
  }

  .post-item__date {
    font-size: 1.2rem;
  }

  .post-item__excerpt {
    font-size: 0.7rem;
  }
}
