@import '@styles/_colors.scss';
@import '@styles/_responsive.scss';

.post-item {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 2rem 0;
  border-bottom: 1px solid #a8a8a8;
  transition: scale 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
}

.post-item--link {
  text-decoration: none;
  color: inherit;
}

.post-item:hover {
  border-bottom: 1px solid var(--main-color);
  scale: 1.02;
}

.post-item--flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.post-item__title {
  overflow: hidden;
  flex: 1;
  padding-bottom: 0.3em;
  font-size: 1.6rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-item__date {
  padding-bottom: 0.3em;
  color: var(--font-gray-color);
  font-size: 1.6rem;
  font-weight: 600;
  font-style: italic;
  white-space: nowrap;
}

.post-item__tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8em;
  row-gap: 0.5em;
}

.post-item__tag {
  padding: 0.3em 0.4em 0.3em 0.4em;
  border-radius: 10px;
  background-color: var(--bg-gray-color);
  color: var(--font-color);
  font-weight: 500;
  white-space: nowrap;
  transition: color 0.2s ease-in-out;
}

.post-item:hover .post-item__tag {
  color: var(--main-color);
}

.post-item__excerpt {
  font-size: 1rem;
}

// 태블릿
@include tablet {
  .post-item {
    gap: 1rem;
    padding: 1.2rem 0 1.4rem 0;
  }

  .post-item--flex {
    gap: 1rem;
  }

  .post-item__title {
    font-size: 1.5rem;
  }

  .post-item__date {
    font-size: 1.4rem;
  }

  .post-item__tag-list {
    gap: 0.7rem;
  }

  .post-item__tag {
    font-size: 1rem;
  }

  .post-item__excerpt {
    font-size: 0.9rem;
  }
}

// 모바일
@include mobile {
  .post-item {
    gap: 0.5rem;
    padding: 0.5rem 0 0.7rem 0;
  }

  .post-item--flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
  }

  .post-item__title {
    width: 100%;
    font-size: 1.2rem;
  }

  .post-item__date {
    font-size: 1.1rem;
  }

  .post-item__tag-list {
    gap: 0.5em;
    row-gap: 0.3em;
  }

  .post-item__tag {
    font-size: 0.9rem;
  }

  .post-item__excerpt {
    font-size: 0.8rem;
  }
}
