.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 7rem;
  padding: 1rem;

  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.container:hover {
  background-color: #fffddf8f;
  scale: 1.05;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}

.excerpt {
  font-size: 1rem;
  color: black;
}
