@import '@styles/_colors.scss';
@import '@styles/_responsive.scss';

.post-group--layout {
  display: flex;
  flex-direction: column;
  padding: 0 5rem 0 5rem;
}

.post-group__category {
  margin: 6rem 0 3rem 0;
  color: $font-gray;
  font-size: 6rem;
  font-weight: 600;
}

.post-group__post-list {
  display: flex;
  flex-direction: column;
}

// 랩탑
@include laptop {
  .post-group--layout {
    padding: 0 2rem;
  }

  .post-group__category {
    font-size: 5rem;
  }
}

// 타블렛
@include tablet {
  .post-group--layout {
    padding: 0 2rem;
  }

  .post-group__category {
    fmargin: 4rem 0 2rem 0;
    font-size: 4rem;
  }
}

// 모바일
@include mobile {
  .post-group--layout {
    padding: 0 1rem;
  }

  .post-group__category {
    margin: 3rem 0 1rem 0;
    font-size: 3rem;
  }
}
