@import '@styles/_colors.scss';
@import '@styles/_responsive.scss';
@import '@styles/_animations.scss';

.post-group--layout {
  display: flex;
  flex-direction: column;
  padding: 0 5rem 0 5rem;
}

.post-group__category-name {
  margin: 6rem 0 3rem 0;
  color: var(--font-gray-color);
  font-size: 6rem;
  font-weight: 600;
}

.post-group__post-list {
  display: flex;
  flex-direction: column;
}

@for $i from 1 through 10 {
  .post-group__post-list li:nth-child(#{$i}) {
    opacity: 0;
    @include animation-slide-in-up(normal, 40%, #{($i - 1) * 0.2}s);
  }
}

// 랩탑
@include laptop {
  .post-group--layout {
    padding: 0 2rem;
  }

  .post-group__category-name {
    font-size: 5rem;
  }
}

// 타블렛
@include tablet {
  .post-group--layout {
    padding: 0 2rem;
  }

  .post-group__category-name {
    fmargin: 4rem 0 1rem 0;
    font-size: 4rem;
  }
}

// 모바일
@include mobile {
  .post-group--layout {
    padding: 0 1rem;
  }

  .post-group__category-name {
    margin: 4rem 0 0.5rem 0;
    font-size: 3rem;
  }
}
