@import '../../styles/_colors.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $font-gray;
  font-size: 7rem;
  font-weight: 700;
  line-height: 130%;
}
