@import '../../styles/_colors.scss';
@import '../../styles/_responsive.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $font-gray;
  font-size: 7rem;
  font-weight: 700;
  line-height: 130%;
}

@include tablet {
  .container {
    font-size: 5rem;
  }
}

@include mobile {
  .container {
    font-size: 4rem;
  }
}
