@import '../../styles/_colors.scss';

.toc a {
  line-height: 150%;
  text-decoration: none;
  color: $font-gray;
  font-weight: 400;
  white-space: nowrap;

  &.active {
    font-weight: 500;
    color: var(--main-color);
  }
}
