// brand colors
$primary-color: #ff0000;

// font colors
$font-white: #ffffff;
$font-black: #000000;
$font-gray: #898989;
$font-dark-gray: #818181;
$font-subtle: #898989aa;

// background colors
$bg-white: #fffefd;
$bg-gray: #e7e7e7;
$bg-dark-gray: #464646;
$bg-black: #292929;
