// brand colors
$primary-color: #ff0000;

// font colors
$font-white: #ffffff;
$font-black: #000000;
$font-gray: #898989;
$font-subtle: #898989aa;

// background colors
$bg-white: #fffefd;
$bg-gray: #c6c6c6;
$bg-black: #292929;
