@font-face {
  font-family: 'SCDream';
  font-style: thin;
  font-weight: 100;
  src: url('./../assets/fonts/SCDream1.otf');
}

@font-face {
  font-family: 'SCDream';
  font-style: extra-light;
  font-weight: 200;
  src: url('./../assets/fonts/SCDream2.otf');
}

@font-face {
  font-family: 'SCDream';
  font-style: light;
  font-weight: 300;
  src: url('./../assets/fonts/SCDream3.otf');
}

@font-face {
  font-family: 'SCDream';
  font-style: normal;
  font-weight: 400;
  src: url('./../assets/fonts/SCDream4.otf');
}

@font-face {
  font-family: 'SCDream';
  font-style: medium;
  font-weight: 500;
  src: url('./../assets/fonts/SCDream5.otf');
}

@font-face {
  font-family: 'SCDream';
  font-style: semi-bold;
  font-weight: 600;
  src: url('./../assets/fonts/SCDream6.otf');
}

@font-face {
  font-family: 'SCDream';
  font-style: bold;
  font-weight: 700;
  src: url('./../assets/fonts/SCDream7.otf');
}

@font-face {
  font-family: 'SCDream';
  font-style: extra-bold;
  font-weight: 800;
  src: url('./../assets/fonts/SCDream8.otf');
}

@font-face {
  font-family: 'SCDream';
  font-style: heavy;
  font-weight: 900;
  src: url('./../assets/fonts/SCDream9.otf');
}
