@import '../../styles/_colors.scss';
@import '../../styles/_responsive.scss';

.index-logo {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  font-size: 9rem;
}

.index-logo > p {
  z-index: 3;
  display: inline;
  align-self: flex-start;
  font-weight: bold;
  color: $font-gray;
}

.index-logo.dark > p {
  color: #ffffff;
  animation: animation-flicking 5s infinite alternate;
}

// 두번째 I 띄우기
.index-logo > p:nth-child(2) {
  padding-left: 0.15em;
}

// 첫글자만 색상 변경
.index-logo > p::first-letter {
  color: var(--font-color);
}

@keyframes animation-flicking {
  0%,
  19%,
  22%,
  24%,
  54%,
  57%,
  100% {
    text-shadow: 0 0 0.5rem #ffffff, 0 0 1.2rem var(--main-color),
      0 0 1.7rem var(--main-color), 0 0 2.2rem var(--main-color);
  }

  21%,
  23%,
  55% {
    text-shadow: none;
  }
}

// 랩탑
@include laptop {
  .index-logo {
    gap: 1rem;
    font-size: 8rem;
  }
}

// 타블렛
@include tablet {
  .index-logo {
    gap: 2rem;
    font-size: 7rem;
  }
}

// 모바일
@include mobile {
  .index-logo {
    gap: 2rem;
    font-size: 4rem;
  }
}
