@import '../../styles/_animations.scss';
@import '../../styles/_colors.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 30rem;

  ul {
    margin-left: 1rem;
  }
}

.category {
  margin-top: 0.6rem;
}

.category a {
  text-decoration: none;
  color: var(--font-color);
  font-size: 1.3rem;
  font-weight: 600;
}

.category a:hover {
  font-weight: 800;
}

.posts {
}

.post {
  margin-top: 0rem;
  opacity: 0;
  height: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;

  &.selected {
    margin-top: 0.5rem;
    opacity: 1;
    height: 1.2rem;
    pointer-events: auto;
  }
}

.post a {
  text-decoration: none;
  color: $font-gray;
  font-size: 1.1rem;
  font-weight: 600;
}

.post a:hover {
  color: var(--font-color);
}
