@import '@styles/_animations.scss';
@import '@styles/_colors.scss';

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
}

.sidebar__total {
  color: $font-gray;
  font-weight: 500;
}

// .sidebar ul.sidebar__category {
//   list-style-type: square;
//   list-style-position: inside;
// }

.sidebar ul ul {
  margin: 0 0 0 1em;
}

.sidebar ul ul.sidebar__category {
  list-style-type: disc;
  list-style-position: inside;
}

.sidebar ul ul ul {
  margin: 0 0 0 1em;
}

.sidebar ul ul ul.sidebar__category {
  list-style-type: circle;
  list-style-position: inside;
}

.sidebar__category li {
  margin: 0.6rem 0 0 0;
}

.sidebar__category--text {
  display: inline-block;
  color: var(--font-color);
  font-size: 1.05rem;
  font-weight: 600;
  text-decoration: none;
  transition: font-weight 0.1s ease-in-out;
}

.sidebar__category--text:hover {
  font-weight: 800;
}

.sidebar__posts {
  display: grid;
  grid-template-rows: repeat(var(--posts-count), 0fr);
  transition: grid-template-rows 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.sidebar__posts.open {
  grid-template-rows: repeat(var(--posts-count), 1fr);
}

.sidebar__posts li {
  overflow: hidden;
  margin: 0 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: margin 0.2s ease-in-out;
}

.sidebar__posts.open li {
  margin: 0.5rem 0 0 0;
}

.sidebar__posts a {
  color: $font-gray;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.1s ease-in-out;
}

.sidebar__posts a.active {
  color: var(--font-color);
}

.sidebar__posts a:hover {
  color: var(--font-color);
}
