@import '../../styles/_animations.scss';
@import '../../styles/_colors.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
  padding: 1rem 0;
  border-right: 3px solid rgba(187, 187, 187, 0.5);
}

.total {
  color: $font-gray;
  font-weight: 500;
}

.categories {
  display: flex;
  flex-direction: column;

  ul {
    margin-left: 1rem;
  }
}

.category {
  display: inline-block;
  text-decoration: none;
  margin-top: 0.8rem;
  color: var(--font-color);
  font-size: 1.1rem;
  font-weight: 600;
  // transition: font-weight 100ms ease-in-out;

  &::before {
    content: '· ';
  }

  .num {
    font-size: 0.9rem;
  }
}

.category:hover {
  font-weight: 800;
}

.post {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0rem;
  height: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;

  &.selected {
    margin-top: 0.5rem;
    height: 1.2rem;
    opacity: 1;
    pointer-events: auto;
  }
}

.post a {
  color: $font-gray;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
}

.post a:hover {
  color: var(--font-color);
}
