@import '@styles/_colors.scss';

.sidebar {
  display: flex;
  flex-direction: column;

  width: 100%;
  font-size: 1rem;
  font-weight: 600;
}

.sidebar a {
  text-decoration: none;
}

.sidebar > a {
  color: var(--font-gray-color);
}

.sidebar__root-categories li {
  margin-top: 1em;
}

.sidebar__root-categories a {
  color: var(--main-color);
  font-size: 1.2em;
}

.sidebar__sub-categories li {
  margin-top: 0.5em;
}

.sidebar__sub-categories a {
  margin-left: 1.3em;
  color: var(--font-color);
  font-size: 1.1em;
  font-weight: 500;
}

.sidebar__sub-categories a.selected {
  font-weight: 800;
}
