@import '../../styles/_responsive.scss';

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
  border-bottom: 5px solid var(--main-color);

  // 데스크탑
  @include mobile {
    background-color: rgb(255, 255, 239);
  }

  // 타블렛
  @include tablet {
    background-color: rgb(255, 232, 188);
  }

  // 랩탑
  @include laptop {
    background-color: rgb(255, 230, 234);
  }

  // 노트북
  @include desktop {
    background-color: rgb(246, 255, 240);
  }
}

.nav-links {
  display: flex;
  gap: 3rem;
}

.nav-link-text {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 900;
  font-style: italic;
  color: black;
}
