@import '../../styles/_responsive.scss';

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 4rem 1.3rem 4rem;
  border-bottom: 5px solid var(--main-color);

  &::before {
    content: '데스크탑';
    position: absolute;
    top: 0;
    left: 0;
  }

  // 랩탑
  @include laptop {
    &::before {
      content: '랩탑';
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  // 타블렛
  @include tablet {
    &::before {
      content: '타블렛';
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  // 모바일
  @include mobile {
    &::before {
      content: '모바일';
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.nav-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.color-change {
  flex: 1;
  display: flex;
  padding: 0 2rem 0 0;
}

.nav-links {
  display: flex;
  gap: 3rem;
}

.nav-link-text {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 900;
  font-style: italic;
  color: var(--font-color);
}

.nav-toggle {
  display: none;
  position: absolute;
  top: 1.6rem;
  right: 1.5rem;
  cursor: pointer;

  svg {
    width: 1.8rem;
    height: auto;
  }

  path {
    stroke: var(--font-color);
    fill: var(--font-color);
  }
}

// 모바일
@include mobile {
  .nav-bar {
    padding: 1.2rem 1rem 1rem;
    flex-direction: column;
  }

  .color-change {
    flex: 1;
    display: flex;
    padding: 0 3rem 0 0;
  }

  .nav-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    gap: 1rem;

    &.active {
      display: flex;
    }
  }

  .nav-link-text {
    font-size: 1.7rem;
  }
}
