@import '@styles/_responsive.scss';
@import '@styles/_colors.scss';
@import '@styles/_animations.scss';

.category-layout {
  display: grid;
  grid-template-columns: minmax(340px, 2fr) 9fr;
  align-items: start;
  padding: 0 0 2rem 0;
  position: relative;
}

.category-layout__aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
  padding: 2rem 3rem 3rem 2.5rem;
}

.category-layout__aside::before {
  content: '';
  background-color: var(--bg-gray-color);
  // background-image: url('@assets/images/celebrity.jpg');
  background-size: cover;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.3;
  mask-image: linear-gradient(rgba(0, 0, 0, 1), 95%, rgba(0, 0, 0, 0));
}

.category-layout__aside::-webkit-scrollbar {
  display: none;
}

.category-layout__profile {
  width: 75%;
  margin: 1rem 0 1rem 0;
}

.category-layout__category {
  margin: 0 2rem 0 0;
}

.category-layout__button {
  display: none;
}

.category-layout__modal {
  display: none;
}

// 랩탑부터 카테고리 숨기기
@include laptop {
  .category-layout {
    grid-template-columns: 1fr; // aside가 fixed로 빠짐
  }

  .category-layout__aside {
    position: fixed;
    top: var(--position-top);
    left: 0;
    z-index: 99; // 포스트 보다 위에 보이도록
    max-width: 70vw;
    height: calc(100vh - var(--position-top));
    padding: 0 0 0 0;
    background-color: var(--bg-color);
    transform: translateX(-100%); //  asdie의 마진을 고려
    transition: transform 0.2s ease-in-out;
    // font-family: 'NanumSquareNeo';
  }

  .category-layout__aside::before {
    display: none;
  }

  .category-layout__aside.active {
    overflow-y: scroll;
    transform: translate(0%, 0%);
  }

  .category-layout__category {
    padding: 2rem 2rem 2rem 1rem;
  }

  .category-layout__profile {
    display: none;
  }

  .category-layout__button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0.5em 0.4em;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: var(--main-color);
    color: $font-white;
    font-weight: 600;
    font-size: 0.9rem;
    writing-mode: vertical-rl;
    cursor: pointer;
    transform: translate(100%, 0%);
    // animation: category-layout__button--floating 5s infinite ease-in-out;
  }

  @keyframes category-layout__button--floating {
    50% {
      transform: translate(100%, 10%);
    }
  }

  .category-layout__button.active {
    display: none;
  }

  .category-layout__modal.active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
