@import '@styles/_responsive.scss';
@import '@styles/_colors.scss';
@import '@styles/_animations.scss';

.category-layout {
  display: grid;
  grid-template-columns: minmax(320px, 2fr) 9fr;
  align-items: start;
  padding: 0 0 2rem 0;
  position: relative;

  > aside {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  > * {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.category-layout__sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
  padding: 2rem 3rem 3rem 2.5rem;
}

.category-layout__sidebar::before {
  content: '';
  position: absolute;
  inset: 0 0 0 0;
  z-index: -1;
  background-color: var(--bg-gray-color);
  background-size: cover;
  opacity: 0.3;
  mask-image: linear-gradient(rgba(0, 0, 0, 1), 95%, rgba(0, 0, 0, 0));
}

.category-layout__sidebar__profile {
  width: 80%;
  margin: 2rem 0 1.5rem;
}

input[id='category-layout-modal'] {
  display: none;
}

input[id='category-layout-modal'] ~ label {
  display: none;
}

.category-layout__modal-bg {
  display: none;
}

// 랩탑부터 카테고리 숨기기
@include laptop {
  .category-layout {
    grid-template-columns: 1fr;

    > aside {
      display: block;
      position: sticky;
      top: 0;
      left: 0;
    }
  }

  .category-layout__sidebar {
    @include animation-slide-in-right($speed: 'normal', $distance: 100%);
    display: none;
    overflow: scroll;
    background-color: var(--bg-color);
  }

  .category-layout__sidebar::before {
    display: none;
  }

  .category-layout__sidebar::-webkit-scrollbar {
    display: none;
  }

  .category-layout__sidebar__profile {
    display: none;
  }

  input[id='category-layout-modal'] {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  input[id='category-layout-modal'] + label {
    display: inline-block;
    padding: 0.7em 0.8em;
    margin: 0.1em;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.5em 0.5em 0 0;
    background-color: var(--main-color);
    transform: rotate(90deg) translate(20%, 48%);
    cursor: pointer;
  }

  input[id='category-layout-modal'] + label + label {
    @include animation-slide-in-right($speed: 'normal', $distance: 65vw);
    display: none;
  }

  input[id='category-layout-modal']:focus ~ label {
    outline: 2px solid black;
  }

  input[id='category-layout-modal']:checked + label {
    display: none;
  }

  input[id='category-layout-modal']:checked + label + label {
    display: block;
    position: absolute;
    top: 1rem;
    left: 65vw;
    z-index: 5;
    font-size: 1.5rem;
    cursor: pointer;
  }

  input[id='category-layout-modal']:checked ~ .category-layout__modal-bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #4a4a4a77;
    cursor: pointer;
  }

  input[id='category-layout-modal']:checked ~ .category-layout__sidebar {
    display: block;
    width: 70vw;
    height: 100vh;
    box-sizing: border-box;
  }
}
