.container {
  display: flex;
  align-self: flex-start;
  padding: 2rem;

  > div:first-child {
    flex: 1;
  }

  > div:nth-child(2) {
    flex: 4;
  }
}

.category {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 15rem;
  margin-right: 2rem;
}

.profile-image {
  padding: 1rem 2rem 1rem 1rem;
}
