@import '@styles/_responsive.scss';
@import '@styles/_colors.scss';

@keyframes path {
  100% {
    stroke-dashoffset: 0;
  }
}

.not-found--layout {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found__text {
  color: $font-gray;
  font-size: 7rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1rem;
}

.not-found__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.not-found__input {
  display: grid;
  grid-template-columns: 120px 1fr;
  color: $font-gray;
}

@include tablet {
  .not-found__text {
    font-size: 6rem;
  }

  .not-found__content {
    gap: 1rem;
  }
}

@include mobile {
  .not-found__text {
    font-size: 5rem;
  }

  .not-found__content {
    gap: 1.5rem;
  }
}
