@import '@styles/_colors.scss';
@import '@styles/_responsive.scss';

.about--layout {
  display: grid;
  grid-template-rows: minmax(30rem, 1fr) min-content;
  gap: 5rem;
  overflow: hidden;
  padding: 0 0 8rem 0;
}

@include mobile {
  .about--layout {
    grid-template-rows: minmax(20rem, 1fr) min-content;
  }
}
