@import '../styles/_responsive.scss';

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  overflow: hidden;
  padding: 8rem 0rem;
}

.logo {
  flex: 1;
  min-height: 20rem;
}

.about-me {
  flex: 1;
  min-height: 15rem;
}

@include tablet {
  .container {
    padding: 6rem 0rem;
  }
}

@include mobile {
  .container {
    padding: 4rem 0rem;
  }
}
