@import '@styles/_colors.scss';
@import '@styles/_responsive.scss';

.about--layout {
  display: grid;
  grid-template-rows: minmax(35rem, 1fr) min-content;
  gap: 5rem;
  overflow: hidden;
  padding: 0 0 8rem 0;
}

.about__typing {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  color: var(--font-gray-color);
  font-size: 7rem;
  font-weight: 700;
  text-align: center;
  line-height: 130%;
}

@include tablet {
  .about__typing {
    padding: 0 3rem;
    font-size: 5rem;
  }
}

@include mobile {
  .about--layout {
    grid-template-rows: minmax(20rem, 1fr) min-content;
  }

  .about__typing {
    padding: 0 1rem;
    font-size: 3rem;
  }
}
