@import '@styles/_responsive.scss';
@import '@styles/_animations.scss';

.about--layout {
  overflow: hidden;
  @include animation-slide-in-up(normal, 50px);
}

.about__article {
  max-width: 780px;
  margin: 3rem auto;
}

@include mobile {
  .about__article {
    max-width: auto;
    margin: 1rem 1rem;
  }
}
