@import '../styles/_responsive.scss';

.container {
  overflow: hidden;
  position: relative;
  padding: 5rem 0 0 7rem;
  box-sizing: border-box;
  height: 100%;
}

.wheel {
  position: absolute;
  right: -25rem;
  bottom: -40rem;
}

// 랩탑
@include laptop {
  .container {
    padding: 5rem 0 0 7rem;
  }

  .wheel {
    right: -30rem;
    bottom: -40rem;
  }
}

// 타블렛
@include tablet {
  .container {
    padding: 5rem 0 0 3rem;
  }

  .wheel {
    right: -25rem;
    bottom: -30rem;
  }
}

// 모바일
@include mobile {
  .container {
    padding: 2rem 0 0 1rem;
  }

  .wheel {
    right: -35rem;
    bottom: -25rem;
  }
}
