@import '@styles/_responsive.scss';
@import '@styles/_animations.scss';

.index--layout {
  overflow: hidden;
  position: relative;
  padding: 4rem 0 0 7rem;
  box-sizing: border-box;
  height: 100%;
}

.index__wheel-category {
  @include animation-clear('slow');
  position: absolute;
  right: -25rem;
  bottom: -40rem;
}

// 랩탑
@include laptop {
  .index--layout {
    padding: 4rem 0 0 6rem;
  }

  .index__wheel-category {
    right: -30rem;
    bottom: -40rem;
  }
}

// 타블렛
@include tablet {
  .index--layout {
    padding: 4rem 0 0 5rem;
  }

  .index__wheel-category {
    right: -25rem;
    bottom: -30rem;
  }
}

// 모바일
@include mobile {
  .index--layout {
    padding: 2rem 0 0 1rem;
  }

  .index__wheel-category {
    right: -35rem;
    bottom: -25rem;
  }
}
