@import '@styles/_responsive.scss';
@import '@styles/_animations.scss';

.index--layout {
  overflow: hidden;
  position: relative;
  padding: 3rem 0 0 7rem;
  box-sizing: border-box;
  height: 100%;
}

.index__wheel-category {
  @include animation-clear('normal');
  position: absolute;
  right: -30rem;
  bottom: -40rem;
}

// 랩탑
@include laptop {
  .index--layout {
    padding: 3rem 0 0 6rem;
  }

  .index__wheel-category {
    right: -30rem;
    bottom: -40rem;
  }
}

// 타블렛
@include tablet {
  .index--layout {
    padding: 3rem 0 0 4rem;
  }

  .index__wheel-category {
    top: 30vh;
    left: 15rem;
  }
}

// 모바일
@include mobile {
  .index--layout {
    padding: 1rem 0 0 1rem;
  }

  .index__wheel-category {
    top: 30vh;
    left: 5rem;
  }
}
