@import '../styles/_responsive.scss';

.container {
  overflow: hidden;
  position: relative;
  padding: 5rem 7rem;
}

.wheel {
  position: absolute;

  // 데스크탑
  @include mobile {
    right: -40rem;
    bottom: -45rem;
  }

  // 랩탑
  @include laptop {
    right: -30rem;
    bottom: -40rem;
  }

  // 노트북
  @include desktop {
    right: -25rem;
    bottom: -35rem;
  }
}
