@import '@styles/_colors.scss';
@import '@styles/_responsive.scss';

.container {
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
}

.post-group {
  padding: 3rem 0 2rem 1rem;
  color: $font-gray;
  font-size: 6rem;
  font-weight: 600;
}

.post-list {
  display: flex;
  flex-direction: column;
}

// 랩탑
@include laptop {
  .container {
    padding: 0 2rem;
  }

  .post-group {
    font-size: 5rem;
  }
}

// 타블렛
@include tablet {
  .container {
    padding: 0 1rem;
  }

  .post-group {
    font-size: 4rem;
  }
  .post-list {
    padding: 0 0;
  }
}

// 모바일
@include mobile {
  .container {
    padding: 0;
  }

  .post-group {
    padding: 1rem 1rem 1rem 1.5rem;
    font-size: 2.7rem;
  }
  .post-list {
    padding: 0 0.5rem;
  }
}
