@import '@styles/_responsive.scss';
@import '@styles/_animations.scss';

.post {
  display: grid;
  grid-template-columns: 9fr minmax(260px, 2fr);
  align-items: start;
  position: relative;
  margin: 5rem 0 0 0;
}

.post--article {
  @include animation-slide-in-up('normal', 40px);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 780px;
  padding: 0 2rem 0 6rem;
}

.post--article--content {
  position: relative;
  padding-bottom: 3rem;
  border-bottom: 6px double var(--bg-gray-color);
}

.post--toc {
  @include animation-slide-in-left('normal', 10px);
  overflow-x: hidden;
  overflow-y: auto;
  position: sticky;
  top: 2rem;
  max-height: 80vh;
  margin: 0 1rem 0 0;
  padding: 0 1rem 0 0;
  border-left: 2px solid rgba(187, 187, 187, 0.2);
}

.post--toc::-webkit-scrollbar {
  display: none;
}

@include laptop {
  .post {
    grid-template-columns: 1fr 0;
  }

  .post--article {
    padding: 0 1rem 0 3rem;
    max-width: auto;
  }

  .post--toc {
    display: none;
  }
}

@include tablet {
  .post {
    margin: 4rem 0 0 0;
  }

  .post--article {
    padding: 0 2rem;
  }
}

@include mobile {
  .post {
    margin: 3rem 0 0 0;
  }

  .post--article {
    padding: 0 1rem;
  }
}
