@import '../../styles/_responsive.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post {
  display: flex;
  align-items: flex-start;
  gap: 2rem;

  & > div:first-child {
    flex: 3;
  }
  & > div:last-child {
    flex: 1;
  }
}

.markdown-utter {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 800px;
}

.markdown {
  // 2중 그라데이션 보더 생성
  position: relative;
  padding-bottom: 3rem;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, var(--main-color), #ffffff00);
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 2px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, var(--main-color), #ffffff00);
    // border-bottom: 6px double rvar(--main-color);
  }
}

.toc {
  position: sticky;
  top: 2rem;
}

@include laptop {
  .markdown-utter {
    max-width: 600px;
  }
}

@include tablet {
  .markdown-utter {
    max-width: 500px;
  }

  .toc {
    display: none;
  }
}

@include mobile {
  .markdown-utter {
    width: 100px;
    margin: 0 auto;
  }

  .toc {
    display: none;
  }
}
