@import '../../styles/_responsive.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 0 0 0 4rem;
}

.post {
  display: flex;
  align-items: flex-start;

  & > div:first-child {
    flex: 7;
  }
  & > div:last-child {
    flex: 2;
  }
}

.markdown-utter {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 4rem 0 0;
  width: 100px;
}

.markdown {
  // 2중 그라데이션 보더 생성
  position: relative;
  padding-bottom: 3rem;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, var(--main-color), #ffffff00);
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 2px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, var(--main-color), #ffffff00);
    // border-bottom: 6px double rvar(--main-color);
  }
}

.toc {
  position: sticky;
  top: 2rem;
}

@include laptop {
  .container {
    padding: 0 1rem 0 3rem;
  }

  .toc {
    display: none;
  }
}

@include tablet {
  .container {
    padding: 0 1rem 0 1rem;
  }
}
