@import '@styles/_responsive.scss';
@import '@styles/_colors.scss';

.container {
  display: flex;
  align-items: flex-start;
  & > div:first-child {
    flex: 7;
  }
  & > div:last-child {
    flex: 2;
  }
}

.post {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 4rem;
  width: 100px;
  display: flex;
}

.markdown {
  position: relative;
  padding-bottom: 3rem;
  border-bottom: 6px double $bg-gray;
}

.toc {
  position: sticky;
  top: 2rem;
}

@include laptop {
  .post {
    padding: 0 1rem 0 3rem;
  }

  .toc {
    display: none;
  }
}

@include tablet {
  .post {
    padding: 0 2rem;
  }
}

@include mobile {
  .post {
    padding: 0 1rem;
  }
}
