{% extends 'base.html' %}

{% block content %}
  <h1>Cola</h1>
  <ul>
    <li><i>Coca_Cola</i></li>
    <li><i>Pepsi</i></li>
  </ul>
  <a href="{% url 'articles:dinner' %}">to the /dinner/</a> 
  <!-- app_name:url_name == True -->
  <!-- back : settings.trailing slash == True -->
  <!-- front : means this is the front of the URL -->
  <br>
  <a href="{% url 'articles:throw' %}">to the /throw/</a>
  <br>
  <a href="{% url 'articles:fake-google' %}">to the /fake-google/</a>
{% endblock content %}
{% comment %} </body>
</html> {% endcomment %}