{% extends 'base.html' %}

{% block content %}
  <h1>던지기</h1>
  <form action="{% url 'articles:catch' %}", mehtod="GET">
    {% comment %}
    >>>>>>>>>>>>>>> Request the form to the 'action' in 'mehtod' way
    URL/?key(name)=value(input)
    method default == GET
    {% endcomment %}
    <label for="message">메시지</label>
    <input type="text" id="message" name="message">
    {% comment %}
    for <-> id
    name: server distinguish the data with 'name'
    {% endcomment %}
    <input type="submit">
  </form>
  <a href="{% url 'articles:index' %}">to the /index/</a>
{% endblock content %}

