<<<<<<< HEAD
.header {
=======
/* .header {
>>>>>>> 0689e4abb54d841b29e31d5c51a501053659aed5
  position: absolute;
  padding: 0px 20px;
}

.header_left {
  left: 15px;
}

.header_right {
  right: 15px;
}

.menu_name:hover {
  cursor: pointer;
<<<<<<< HEAD
}
=======
} */
>>>>>>> 0689e4abb54d841b29e31d5c51a501053659aed5
