@import '../../styles/_responsive.scss';

.post-header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
  padding: 0 0 2rem 0;
  border-bottom: 6px double var(--bg-gray-color);
}

.post-header__title {
  margin: 0 0 1rem 0;
  font-size: 3rem;
  font-weight: 800;
  line-height: 140%;
}

.post-header__date-author {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--font-gray-color);
}

.post-header__tag-list {
  display: flex;
  gap: 1rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
}

.post-header__tag {
  padding: 0.45em 0.7em 0.45em 0.7em;
  border-radius: 0.6em;
  background-color: var(--bg-gray-color);
  color: var(--main-color);
  font-size: 1rem;
  font-weight: 500;
}

.post-header__reference {
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.7;
}

.post-header__reference a {
  color: var(--font-gray-color);
  font-size: 0.9rem;
  text-decoration: none;
  white-space: nowrap;
}

@include laptop {
  .post-header__title {
    font-size: 2.7rem;
  }
}

@include tablet {
  .post-header {
    padding: 0 0 2rem;
  }

  .post-header__title {
    font-size: 2.5rem;
  }

  .post-header__date-author {
    font-size: 1.2rem;
  }

  .post-header__tag {
    font-size: 0.9rem;
  }
}

@include mobile {
  .post-header {
    gap: 1.2rem;
    padding: 0 0 1.5rem 0;
  }

  .post-header__title {
    margin: 1rem 0 0.5rem 0;
    font-size: 2rem;
  }

  .post-header__date-author {
    font-size: 1rem;
  }

  .post-header__tag {
    font-size: 0.8rem;
  }

  .post-header__tag-list {
    gap: 0.5rem;
    row-gap: 0.3rem;
  }
}
