@import '../../styles/_animations.scss';
@import '../../styles/_colors.scss';

.tape {
  display: flex;
  flex-wrap: nowrap;
  width: 200vw;
  padding: 0.9rem 0 1.2rem;
  font-size: 2.5rem;
  font-weight: 700;
  white-space: nowrap;

  &.white {
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    color: var(--main-color);
  }

  &.black {
    background-color: #111111;
    color: var(--main-color);
  }
}
