@import '@styles/_animations.scss';
@import '@styles/_colors.scss';
@import '@styles/_responsive.scss';

.tape {
  display: flex;
  width: 130%;
  padding: 0.7rem 0 1rem;
}

.tape.white {
  background-color: var(--bg-color);
  border: 3px solid var(--main-color);
  color: var(--main-color);
}

.tape.black {
  background-color: #111111;
  color: var(--main-color);
}

.tape__text {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  white-space: nowrap;
}

@include mobile {
  .tape {
    padding: 0.6rem 0 0.9rem;
  }

  .tape__text {
    font-size: 1.5rem;
  }
}
