@import '../../styles/_animations.scss';

.tape {
  @include animation-left-flowing(10s, 0%, 50%);

  display: flex;
  justify-content: space-evenly;
  width: 200vw;
  padding: 0.9rem 0 1.2rem;
  font-size: 2.5rem;
  font-weight: 700;

  &.red {
    background-color: white;
    border: 3px solid red;
    color: red;
  }

  &.black {
    background-color: black;
    color: white;
  }
}
