@import '@styles/_animations.scss';
@import '@styles/_colors.scss';
@import '@styles/_responsive.scss';

.tape {
  display: flex;
  width: 120%;
  padding: 0.7rem 0 1rem;
  transform: rotate(var(--rotate-deg)) translateX(-10%);
}

.tape.white {
  border: 3px solid var(--main-color);
  background-color: var(--bg-color);
  color: var(--main-color);
}

.tape.black {
  background-color: #111111;
  color: var(--main-color);
}

.tape__text {
  min-width: fit-content; // grid 설정 때문에 p의 너비가 제한되었음
  font-size: 1.8rem;
  font-weight: 700;
  white-space: nowrap;
}

@include laptop {
  .tape {
    padding: 0.6rem 0 0.9rem;
  }

  .tape__text {
    font-size: 1.6rem;
  }
}

@include tablet {
  .tape {
    padding: 0.6rem 0 0.8rem;
  }

  .tape__text {
    font-size: 1.5rem;
  }
}

@include mobile {
  .tape {
    padding: 0.5rem 0 0.7rem;
  }

  .tape__text {
    font-size: 1.2rem;
  }
}
