@import '../../styles/_animations.scss';

.tape {
  display: flex;
  flex-wrap: nowrap;
  width: 200vw;
  padding: 0.9rem 0 1.2rem;
  font-size: 2.5rem;
  font-weight: 700;
  white-space: nowrap;

  &.red {
    background-color: white;
    border: 3px solid red;
    color: red;
  }

  &.black {
    background-color: black;
    color: white;
  }
}
