.posts {
  display: flex;
  gap: 1rem;
}

.post {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(#ffffff, 0.2);
  cursor: pointer;

  transition: scale 0.2s ease-in-out;
}

.post:hover {
  scale: 1.05;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.icon path {
  fill: var(--font-color);
  stroke: var(--font-color);
}

.flexbox {
  display: flex;
  justify-content: space-between;

  &.next {
    flex-direction: row;
  }

  &.prev {
    flex-direction: row-reverse;
  }
}
