@import '@styles/_animations.scss';
@import '@styles/_responsive.scss';

.color-change {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.color-change__picker {
  width: 1.9rem;
  height: 1.9rem;
  border: none;
  outline: none;
  background-color: transparent; // 회색 테두리 제거
  appearance: none;
  cursor: pointer;
}

.color-change__picker--label {
  position: absolute;
  width: 0;
  height: 0;
  border: none;
  margin: none;
  opacity: 0;
}

.color-change__theme {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;

  &.light {
    @include animation-floating(3s, 8%); // 달이 둥둥 떠있는 애니메이션
  }

  &.dark {
    @include animation-rotate-clockwise(10s); // 해가 회전하는 애니메이션
  }
}

.color-change__theme svg {
  width: 1.7rem;
  height: 1.7rem;
}

// svg 보다 아래(path)를 탐색
.color-change__theme path {
  fill: var(--font-color);
  stroke: var(--font-color);
}

.color-change__theme--sun {
  top: 0;
  left: 0;
  transform: scale(0) rotate(0deg);
  transition: transform 0.5s ease-in-out;

  &.dark {
    transform: scale(1) rotate(-360deg);
  }
}

.color-change__theme--moon {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1) rotate(0deg);
  transition: transform 0.5s ease-in-out;

  &.dark {
    transform: scale(0) rotate(-360deg);
  }
}

// 모바일
@include mobile {
  .color-change__picker {
    width: 1.8rem;
    height: 1.8rem;
  }

  .color-change__theme svg {
    width: 1.6rem;
    height: 1.6rem;
  }
}
